{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Exams</title>
    <link rel="stylesheet" href="{% static 'css/student_exam.css' %}">
</head>
<body>
    <div class="header">
        <h1>Available Exams</h1>
    </div>
    <!-- {% block content %} -->
    <div class="container">
        <div class="exam-card">
            <h2>Pre-Assessment Exam</h2>
            <p>This is a practice exam to assess your knowledge.</p>
            <button onclick="startExam('PreAssessment')"><a href="{% url 'exam_pre_assement' %}">Start Assessment</a></button>
        </div>
        <!-- {% for category in data %} -->
        <div class="exam-card">
            <h2>Exam {{category.id}} : {{category.title}}</h2>
            <p>Description of Exam 1 goes here.</p>
            <!-- <button onclick="startExam('Exam1')"><a href="{% url 'stud_questions' category.id %}"></a>{{category.title}}</button> -->
            <button><a href="{% url 'stud_questions' category.id %}"></a>Start Assessment</button>
        </div>
        <!-- {% endfor %} -->
        <div class="exam-card">
            <h2>Exam 2</h2>
            <p>Description of Exam 2 goes here.</p>
            <button onclick="startExam('Exam2')">Start Assessment</button>
        </div>

        <div class="exam-card">
            <h2>Exam 3</h2>
            <p>Description of Exam 3 goes here.</p>
            <button onclick="startExam('Exam3')">Start Assessment</button>
        </div>
    </div>
    <!-- {% endblock %} -->
</body>
</html>
